<div class="container">
  <!-- Seguimiento de Calorías -->
  <div class="chart-box">
    <h2>Seguimiento de Calorías</h2>
    <canvas id="chartCaloriasCanvas"></canvas>
  </div>

  <!-- Seguimiento de Porciones -->
  <div class="chart-box">
    <h2>Seguimiento de Porciones</h2>
    <canvas id="chartPorcionesCanvas"></canvas>
  </div>

  <!-- Seguimiento de Peso -->
  <div class="chart-box">
    <h2>Seguimiento de Peso</h2>
    <canvas
      baseChart
      width="400"
      height="200"
      type="line"
      [data]="lineChartData"
      [options]="lineChartOption"
      chartType="line">
    </canvas>
  </div>
</div>
